## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [59]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [60]:
# Your code here
# ?random
# random.sample(population, k)
sample_list_1 = random.sample(range(0,101),80)
print(sample_list_1)
# check if all values unique (output 'True')
len(set(sample_list_1)) == len(sample_list_1)

[100, 62, 55, 77, 31, 50, 1, 76, 14, 73, 61, 6, 81, 26, 44, 24, 70, 8, 86, 65, 36, 0, 51, 41, 9, 40, 75, 64, 96, 57, 90, 42, 35, 12, 10, 27, 11, 87, 17, 19, 78, 15, 18, 91, 53, 82, 88, 59, 46, 92, 32, 29, 7, 16, 13, 33, 72, 63, 74, 60, 97, 20, 23, 3, 84, 99, 68, 34, 4, 83, 5, 47, 49, 25, 67, 2, 28, 79, 66, 69]

True

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [62]:
# Your code here
set1 = set(sample_list_1)
print(set1)
len_set1 = len(set1)
print("The lenght of set_1 is {}, the same as sample_list_1 ".format(len_set1))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 40, 41, 42, 44, 46, 47, 49, 50, 51, 53, 55, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 90, 91, 92, 96, 97, 99, 100}
The lenght of set_1 is 80, the same as sample_list_1

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [35]:
# Your code here
sample_list_2 = []
for i in range(80): sample_list_2.append(random.randint(0, 101))
print(sample_list_2)

# random.randint(a, b) 
# Return a random integer N such that a <= N <= b. Alias for randrange(a, b+1).
# random.sample(range(1,101),1) will return a singleton list containing an integer, 
# whereas random.randint(1,100) 
# will directly return the integer itself. Note that random.randint is an inclusive bound 
# (i.e. it can return either of the endpoints)
# You could also use random.choice(range(1, 101)) to get the integer. 
# In any case, I'd assume that randint is the fastest option.

# check lenght 
len(sample_list_2)

# check values not unique (output 'False')
len(set(sample_list_2)) == len(sample_list_2)

'''
# this is to make same loop but with unique values
my_random = random.sample(range(0,100),80)
sample_list_2 = []
for x in my_random:
    if x not in sample_list_2:
        sample_list_2.append(x)
print(sample_list_2)
'''

[44, 87, 27, 25, 71, 60, 84, 87, 17, 24, 57, 28, 25, 86, 30, 19, 64, 98, 63, 42, 21, 47, 82, 24, 20, 79, 32, 39, 34, 74, 70, 11, 58, 27, 25, 79, 97, 27, 88, 47, 49, 26, 55, 38, 66, 50, 33, 94, 82, 79, 10, 78, 74, 41, 65, 45, 57, 13, 27, 12, 4, 75, 83, 97, 16, 58, 4, 73, 11, 22, 8, 15, 33, 50, 96, 53, 64, 61, 42, 28]

False

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [63]:
# Your code here
set2 = set(sample_list_2)
len_sample_list_2 = len(sample_list_2)
len_set2 = len(set2)
print(set2)
print("The lenght of set_1 is {}, NOT the same as sample_list_2 ".format(len_set2, len_sample_list_2))

{4, 8, 10, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 38, 39, 41, 42, 44, 45, 47, 49, 50, 53, 55, 57, 58, 60, 61, 63, 64, 65, 66, 70, 71, 73, 74, 75, 78, 79, 82, 83, 84, 86, 87, 88, 94, 96, 97, 98}
The lenght of set_1 is 58, NOT the same as sample_list_2

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [66]:
# Your code here
print(set1)
print()
print(set2)
set3 = set1.difference(set2)
# now sorted
print()
print(sorted(set3))

set3_1 = []
for i in set1: 
    if i not in set2: 
        set3_1.append(i) 
print()
print(set3_1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 40, 41, 42, 44, 46, 47, 49, 50, 51, 53, 55, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 90, 91, 92, 96, 97, 99, 100}

{4, 8, 10, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 38, 39, 41, 42, 44, 45, 47, 49, 50, 53, 55, 57, 58, 60, 61, 63, 64, 65, 66, 70, 71, 73, 74, 75, 78, 79, 82, 83, 84, 86, 87, 88, 94, 96, 97, 98}

[0, 1, 2, 3, 5, 6, 7, 9, 14, 18, 23, 29, 31, 35, 36, 40, 46, 51, 59, 62, 67, 68, 69, 72, 76, 77, 81, 90, 91, 92, 99, 100]

[0, 1, 2, 3, 5, 6, 7, 9, 14, 18, 23, 29, 31, 35, 36, 40, 46, 51, 59, 62, 67, 68, 69, 72, 76, 77, 81, 90, 91, 92, 99, 100]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [70]:
# Your code here
set4 = set2.difference(set1)
print(set4)

set4_1 = []
for i in set2:
    if i not in set1: 
        set4_1.append(i) 
print()
print(set4_1)

# not suere why it does not show same result, and above it does.

{98, 38, 39, 71, 45, 21, 22, 94, 58, 30}

[21, 22, 30, 38, 39, 45, 58, 71, 94, 98]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [73]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

set5_1 = []
for i in set1: 
    if i in set2: 
        set5_1.append(i)

print(set5_1)

# this time works!

{4, 8, 10, 11, 12, 13, 15, 16, 17, 19, 20, 24, 25, 26, 27, 28, 32, 33, 34, 41, 42, 44, 47, 49, 50, 53, 55, 57, 60, 61, 63, 64, 65, 66, 70, 73, 74, 75, 78, 79, 82, 83, 84, 86, 87, 88, 96, 97}
[4, 8, 10, 11, 12, 13, 15, 16, 17, 19, 20, 24, 25, 26, 27, 28, 32, 33, 34, 41, 42, 44, 47, 49, 50, 53, 55, 57, 60, 61, 63, 64, 65, 66, 70, 73, 74, 75, 78, 79, 82, 83, 84, 86, 87, 88, 96, 97]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [80]:
# Your code here
a = len(set1)
b = len(set2)
c = len(set3)
d = len(set4)
e = len(set5)

print(a == b)
print(a>c)
print (c+d > e)

False
True
False

#### Create an empty set called `set6`.

In [84]:
# Your code here
set6_1 = set()
set6 = set([])
print(set6)
print(set6_1)

# difference?

set()
set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [91]:
# Your code here
a = set6.update(set3,set5)
print(set6)

# I an add both same time
'''
b1 = set6.update(set3)
print(b) 
print()

b = set6.update(set5)
print(b)
'''

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 40, 41, 42, 44, 46, 47, 49, 50, 51, 53, 55, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 90, 91, 92, 96, 97, 99, 100}

'\nb1 = set6.update(set3)\nprint(b) \nprint()\n\nb = set6.update(set5)\nprint(b)\n'

#### Check if `set1` and `set6` are equal.

In [92]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [95]:
# Your code here
a = set1.issubset(set2)
b = set1.issubset(set3)

print(a,b)
# Nope!

False False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [100]:
# Your code here
union1 = set3.union(set4.union(set5))
union2 = set1.union(set2)
print(union1 == union2)
print(union1)

True
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 47, 49, 50, 51, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 90, 91, 92, 94, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [108]:
# Your code here
print(set1)
newset1 = set1.pop()
print(newset1)
print(set1)

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 40, 41, 42, 44, 46, 47, 49, 50, 51, 53, 55, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 90, 91, 92, 96, 97, 99, 100}
5
{6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 40, 41, 42, 44, 46, 47, 49, 50, 51, 53, 55, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 90, 91, 92, 96, 97, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [116]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set1)
print()
print(list_to_remove)
rem_set1 = set1.difference(list_to_remove)
print()

print(rem_set1)

{6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 40, 41, 42, 44, 46, 47, 49, 50, 51, 53, 55, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 90, 91, 92, 96, 97, 99, 100}

[1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

{6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 23, 24, 25, 26, 27, 28, 32, 33, 34, 35, 36, 40, 42, 44, 46, 47, 50, 53, 55, 57, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 82, 83, 84, 86, 87, 88, 90, 92, 96, 97, 100}

In [113]:
print(rem_set1.difference(set1))

set()